[Desktop Entry]
Name=Update System
Comment=Run system update
Exec=/usr/bin/ghostty --class=zync.updater.ghostty.window -e topgrade
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;