spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "/usr/libexec/polkit-kde-authentication-agent-1"

environment {
    QT_QPA_PLATFORM      "wayland"
    QT_QPA_PLATFORMTHEME "gtk3"
    QS_ICON_THEME        "Papirus-Dark"
}