window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
  // set noctalia overview wallpaper
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

window-rule {
    match app-id="org.gnome.Characters"
    match app-id="kbd-layout-viewer"
    match app-id="org.gnome.FileRoller"
    match app-id="gnome-disks"
    match app-id="org.gnome.seahorse.Application"
    match app-id="zync.updater.ghostty.window"
    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.45; }    
}

window-rule {
    match app-id="Waydroid"
    match app-id="nvidia-settings"
    open-floating true
    default-column-width { proportion 0.35; }
    default-window-height { proportion 0.25; }    
}

window-rule {
    match app-id="system-config-printer"
    open-floating true
    default-column-width { proportion 0.30; }
    default-window-height { proportion 0.30; }    
}

window-rule {
    match app-id="org.gnome.Nautilus"
    match app-id="nwg-look"
    open-floating true
    default-column-width { proportion 0.45; }
    default-window-height { proportion 0.50; }    
}