// =========================
// EXTERNAL CONFIG INCLUDE
// =========================

include "./autostart.kdl"
include "./windowrule.kdl"
include "./keybinds.kdl"
include "./visual.kdl"
include "./monitor.kdl"